/*Time*/
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }                 /*navbar lists*/
  
  .navcontain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px; 
    margin-bottom: 10px;
  }
  
  .logo img {
    height: 50px; 
    width: auto; 
  }                    /*navbar logo*/
  
  
  .navbar li {
    display: inline-block; 
    position: relative; 
    margin: 0 60px; 
  }
  
  .navbar a {
    display: block; 
    padding: 10px; 
    color: white; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    transition: background-color 0.3s, transform 0.3s;
  }
   /*Some animation effects*/
  .navbar a:hover {
    background-color: #555;
    transform: scale(1.1);
  }

  .logo a:hover{
    background-color: transparent;
    transform: none;
  }
 /*homepage css style*/
  .vedioscontact{
    position: relative;
    background-image: url('img/Ascend.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 100%;
  }
  .vedioscontact button{
    color: #555;
    font-size: large;
  }
  .vedioscontact1{
    position: absolute;
    top: 50px;
    left: 5px;
  }
  .vedioscontact2{
    position: absolute;
    top: 290px;
    left: 1350px;
  }

  .homepagetextandimg{
    display: flex;
    flex-direction:row ;
    margin-top: 40px;
  }
  .homepageimg{
    margin-right: 100px;
  }
 /*support page css style*/
  .supporth1{
    color: white;
    text-align: center;
  }
  .supporth1::after{
        content: "";
        flex: auto;
        display: block;
        border-bottom: 2px solid #555;
        width: 100%;
        margin-top: 10px;
  }
  .supporth2{
    color: white;
    text-align: center;
  }
   /*fake searchbox*/
  .supportin{
    width: 100%;
    height: 50px;
    font-size: 30px;
  }
  .arrow-down{
    margin-top: 10px;
    position: relative;  
    display: inline-block;  
    width: 0;  
    height: 0;  
    border-left: 10px solid transparent;  
    border-right: 10px solid transparent;  
    border-top: 20px solid #89BDEE;
  }

  .supportdivcontain{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    margin-top: 195px;
    margin-bottom: 200px;
  }
  .supporttable{
    border: 1px solid #333;
    background-color: white;
  }
  .supporttable td{
    border: 1px solid #333;
    margin: none;
  }
  
  .supportdivcontain p{
    color: #89BDEE;
  }

   /*product page css style*/
  .product1{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
  }
  .product1div{
    margin: 0 90px;
    margin-left: 190px;
  }
  .product1img{
    max-width: 200px;
  }
  .product1 button{
    color: #555;
    font-size: large;
  }

  .product2{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .product2 h2{
    margin-right: 20px;
  }
  .product2h2andp{
    display: flex;
    flex-direction: row;
  }
  .product2 button{
    color: #555;
    font-size: large;
    height: 50px;
  }
  .product2 img{
    max-width: 200px;
  }
  .product2divcontainor{
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .product2divcontainor .div1,.div2,.div3{
    margin: 50px;
  }
 /*about us page css style*/
  .aboutusvedio{
    width: 100%;
  }
  .aboutusvedio img{
    width: 100%;
    max-height: 60%;
  }
  .locationtextandimg{
    display: flex;
    flex-direction: row;
    color: #555;
    font-size: large;
  }
  .locationtextandimg div{
    margin-left: 20px;
  }
 /*news and blog page css style*/
  .newsp1,.newsp2{
    color: #555;
    font-size: xx-large;
    text-align: center;
  }
  .newsp2{
    width: 500px;
    text-align: center;
    margin-left: 670px;
  }
   /*fake search box*/
  .searchbox{
    background-color: #999;
    height: 90px;
  }
  .searchbox p{
    color: white;
  }
  .searchbox .searchboxp1{
    display: flex;
    margin-left: 840px;
    margin-top: 15px;
  }
  .searchbox input{
    width: 100%;
    height: 30px;
  }
 /*fake article list*/
  .articlelist{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 50px;
  }
  .square{
    display: flex;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    background-color: #333;
  }
  .square p{
    color: white;
  }
  .rectangle{
    width: 75%;
    margin-top: 130px;
  }
  .rectangle div{
    display: flex;
    margin-left: 50px;
    background-color: #333;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    color: white;
  }

  .site-footer {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    bottom:0;
    width: 100%;
  }
  
  .site-footer p {
    margin: 0;
  }